<!doctype html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}"
>
  <head>
    <title th:text="#{about.title}"></title>
    <meta name="keywords" th:content="#{about.keywords}" />
    <meta name="description" th:content="#{about.description}" />
  </head>
  <body>
    <div layout:fragment="content" class="m-8 rounded bg-white p-8 shadow-md">
      <h1 class="mb-4 text-2xl font-semibold" th:text="#{person2.name}"></h1>
      <h1 class="mb-4 text-2xl font-semibold" th:text="#{person2.age}"></h1>
    </div>
    <script type="module" src="/assets/js/about.js"></script>
  </body>
</html>
