<!doctype html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:lang="${currentLocale.language}"
  class="h-full"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/img/vite.svg" />
  </head>
  <body class="flex w-full flex-col">
    <nav class="flex flex-nowrap py-4 md:space-x-8">
      <div class="flex flex-nowrap pt-2">
        <img src="/assets/img/vite.svg" class="mr-4 h-6 w-6" />
        <span th:text="#{app.name}"></span>
      </div>

      <div id="mega-menu" class="pt-2">
        <ul
          class="mt-4 flex flex-col font-medium md:mt-0 md:flex-row md:space-x-8 rtl:space-x-reverse"
        >
          <li>
            <a
              th:href="@{/}"
              class="block border-b border-gray-100 px-3 py-2 hover:bg-gray-50 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-600 dark:border-gray-700 dark:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
              aria-current="page"
              th:text="#{index.title}"
            ></a>
          </li>
          <li>
            <a
              th:href="@{/about.html}"
              class="block border-b border-gray-100 px-3 py-2 hover:bg-gray-50 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-600 dark:border-gray-700 dark:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
              aria-current="page"
              th:text="#{about.title}"
            ></a>
          </li>
        </ul>
      </div>

      <div>
        <select id="change-lang" class="p-2.5">
          <option value="en" th:selected="${currentLocale.language == 'en'}">
            english
          </option>
          <option value="zh-CN" th:selected="${currentLocale.language == 'zh'}">
            chinese
          </option>
        </select>
      </div>
    </nav>

    <main
      class="mx-auto flex w-full max-w-screen-xl flex-grow flex-col"
      layout:fragment="content"
    />

    <footer class="rounded-lg bg-white dark:bg-gray-900">
      <div class="mx-auto w-full max-w-screen-xl px-4">
        <hr
          class="mb-4 border-gray-200 sm:mx-auto lg:mb-4 dark:border-gray-700"
        />
        <span
          class="mb-4 block text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >© 2025
          <a th:href="@{/}" class="hover:underline" th:text="#{app.name}"></a>.
          All Rights Reserved.</span
        >
      </div>
    </footer>
    <script type="module" src="/assets/js/main.js"></script>
  </body>
</html>
